body {
    
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    padding: auto;
    
}

header, .header-nav ul, main, .text-section, article, .image-section, .about-section, figcaption, .contact-form, #cform, footer, .social-icons {
    
    display: flex;
    
}

.more-link {
    
    display: none;
    
}

.image-section:hover .more-link {
    
    display: block;
    
}

.overlay-color, .portrait:hover .portrait-overlay {
    
    position: absolute;
}

header, .social-icons {
    
    flex-flow: row nowrap;
    justify-content: space-between;
    
}

#logo, .header-nav {
    
    margin: 3%;
    width: 30%;
    
}

.nav-active a {
    
    color: rgba(251, 83, 83, 0.8);
    font-weight: bold;
    
}

.header-nav ul {
    
    justify-content: space-around;
}

li {
    
    list-style-type: none;
    
}

a {
    
    text-decoration: none;
    color: black;
    
}

main, .header-nav ul {
    
    flex-flow: row wrap;
    
}

.text-section, article, .image-section, .about-section, .contact-form {
    
    flex-flow: column nowrap;
    justify-content: center;
    
}

article {
    
    align-items: flex-start;
   
}

#name {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 56px;
    color: rgb(251, 83, 83);
    letter-spacing: -3px;
    margin-bottom: 105px;
    
}

.text-section, .image-section, .about-section, .map {
    
    align-items: center;    
    width: 500px;
    height: 400px;
    margin: 5%;
    padding: 2%;
    
}

.image-section {
    
    background-color: rgba(54, 54, 56, 0.2);
    position: relative;
    
}

figure {
    
    margin: 0px;
    border: solid 2px rgb(255, 255, 255);
    
}

.image {
    
    width: 500px;    
    
}

.overlay-color {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    
    
}

.image-section:hover .overlay-color {
    
    background-color: rgba(251, 83, 83, 0.8);
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 1s;
    
    
}

figcaption, footer {
    
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
    
}

h2 {
    margin-bottom: 0%;

}

.image-section:hover .more-link {
    
    margin: 1%;
    padding: 2%;
    border: solid 1px white;
     
}

.image-section:hover h2, .image-section:hover .description, .image-section:hover .more-link {
    
    color: rgb(255, 255, 255);
    z-index: 10;
    
}

.portrait img {
    
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px rgba(251, 83, 83, 0.8);
}

.portrait-overlay {
    
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
    
}

.portrait:hover .portrait-overlay {
    
    width: 250px;
    height: 250px;
    background-color: rgba(251, 83, 83, 0.6);
    opacity: 0.8;
    
}

.about-section, .contact-form {
    
    background-color: rgba(251, 83, 83, 0.8);
    
}

.author-description {
    
    border: 2px solid rgb(255, 255, 255);
    padding: 2%;
    text-align: justify;
    
}

.tabulation {
    
    margin-left: 25px;
}

.author-description p, .quote, #form-title, .button {
    
    color: rgb(255, 255, 255);
}

.quote {
    
    margin: 8% 0%;
    text-align: right;
    font-style: italic;
    
}

.button, #send-button {
    
    border: solid 2px rgb(255, 255, 255);
    background-color: rgba(251, 83, 83, 0.8);
    padding: 3%;
    
    
}
.button {
    
    margin: 3%;
    margin-top: 15%;
    align-self: center; 
    
}

.button a, #send-button {
    
    color: rgb(255, 255, 255); 
    font-weight: 800;
}

.button:hover, #send-button:hover {
    
    border: solid 2px rgba(251, 83, 83, 0.8);
    color: rgba(251, 83, 83, 0.8);
    background-color: rgb(255, 255, 255);
    
}

.button:hover a, #send-button:hover {
    
    color: rgba(251, 83, 83, 0.8);
    font-weight: 800;
}

.button:active {
    
    border: solid 2px rgba(255, 255, 255, 0);
}

.map {
    
    border: solid 1px black;
    
}

.contact-form {
    
    width: 100%;
    height: 500px;
    align-items: center;
}

#cform {
    
    width: 650px;
    margin: 5%;
    padding: 5%;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    
}

#input-name, #input-email, #input-comments, #send-button {
    
    margin: 4%;
}

#send-button {
    
    width: 25%;
    align-self: flex-end;
}

.social-icons li {
    width: 100%;
    margin: 5%;
}

.social-icons li a:hover {
    
    color: rgba(251, 83, 83, 0.8); 
}