body {
    
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    padding: auto;
    
}

header, main, .text-section, article, .image-section, .about-section, figcaption, .contact-form, #cform {
    
    display: flex;
    
}

.overlay-color, .more-link, .portrait-overlay {
    
    display: none;
    
}

section:hover .overlay-color, .image-section:hover .more-link, .image-section:hover .carre, .portrait:hover .portrait-overlay   {
    
    display: block;
    
}

section:hover .overlay-color, .image-section:hover .carre, .portrait:hover .portrait-overlay {
    
    position: absolute;
}

header {
    
    flex-flow: row nowrap;
    justify-content: space-between;
    
}

#logo, nav {
    
    margin: 3%;
    
}

#logo {
    
    width: 30%;
}

li {
    
    list-style-type: none;
    
}

a {
    
    text-decoration: none;
    color: black;
    
}

main {
    
    flex-flow: row wrap;
    
}

.text-section, article, .image-section, .about-section, .contact-form {
    
    flex-flow: column nowrap;
    justify-content: center;
    
}

article {
    
    align-items: flex-start;
   
}

#name {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    color: #fb5353;
    letter-spacing: -3px;
    margin-bottom: 105px;
    
}

.text-section, .image-section, .about-section, .map {
    
    align-items: center;    
    width: 500px;
    height: 400px;
    margin: 5%;
    padding: 2%;
    
}

.image-section {
    
    background-color: rgba(54, 54, 56, 0.2);
    
}

figure {
    
    margin-inline-start: 0px;
    
}

.image {
    
    width: 500px;    
    
}

section:hover .overlay-color {
    
    width: 500px;
    height: 235px;
    background-color: rgba(251, 83, 83, 0.8);    
    
}

figcaption {
    
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
    
}

h2 {
    margin-bottom: 0%;

}

.image-section:hover .more-link {
    
    margin: 1%;
    padding: 2%;
    border: solid 1px white;
     
}

.image-section:hover .carre {
        
    width: 500px;
    height: 400px;
    border: solid 2px white;
    z-index: 9;
       
}

.image-section:hover {
    
    background-color: rgba(251, 83, 83, 0.8);
        
}

.image-section:hover h2, .image-section:hover .description, .image-section:hover .more-link {
    
    color: rgb(255, 255, 255);
    z-index: 10;
    
}

.portrait img {
    
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px rgba(251, 83, 83, 0.8);
}

.portrait:hover .portrait-overlay {
    
    width: 250px;
    height: 250px;
    background-color: rgba(251, 83, 83, 0.6);    
    
}

.about-section, .contact-form {
    
    background-color: rgba(251, 83, 83, 0.8);
    
}

.author-description {
    
    border: 2px solid rgb(255, 255, 255);
    padding: 2%;
    text-align: justify;
    
}

.tabulation {
    
    margin-left: 25px;
}

.author-description p, .quote, #form-title, .button {
    
    color: rgb(255, 255, 255);
}

.quote {
    
    margin: 8% 0%;
    text-align: right;
    font-style: italic;
    
}

.button {
    
    margin: 3%;
    margin-top: 15%;
    padding: 3%;
    background-color: rgba(251, 83, 83, 0.8);
    align-self: center;
    border: solid 2px rgb(255, 255, 255);
    
    
}

.button:hover {
    
    border: solid 2px rgba(251, 83, 83, 0.8);
    color: rgba(251, 83, 83, 0.8);
    background-color: rgb(255, 255, 255);
    
}

.button:active {
    
    border: solid 2px rgba(255, 255, 255, 0);
}

.map {
    
    border: solid 1px black;
    
}

.contact-form {
    
    width: 100%;
    height: 500px;
    align-items: center;
}

#cform {
    
    width: 650px;
    margin: 5%;
    padding: 5%;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    
}

#input-name, #input-email, #input-comments, #send-button {
    
    margin: 4%;
}

#send-button {
    
    width: 15%;
    align-self: flex-end;
}