div.steps.clearfix, div.steps.clearfix ul {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    
}

div.actions.clearfix, div.actions.clearfix ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div.actions.clearfix ul li {
    
    margin-right: 10%;
    
}

div.actions.clearfix ul li a {
    
    font-weight: bolder;
    color: rgb(251, 83, 83);
    
}

div.steps.clearfix ul li.first.current, div.steps.clearfix ul li.disabled, div.steps.clearfix ul li.disabled.last, div.steps.clearfix ul li.done, div.steps.clearfix ul li.current {
    
    margin-top: 2%;
    margin-right: 2%;
    padding: 2%;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    
}

div.steps.clearfix ul li.first.current, div.steps.clearfix ul li.disabled, div.steps.clearfix ul li.disabled.last, div.steps.clearfix ul li.current {
    
    background-color: rgb(251, 83, 83); 
    
}

li.done {
    
    background-color: rgb(206, 206, 206);
    
}

div.steps.clearfix ul li.first.current a, div.steps.clearfix ul li.disabled a, div.steps.clearfix ul li.disabled.last a {
    
    color: rgb(255, 255, 255);
}

span.current-info.audible {
    
    display: none;
}

div.content.clearfix {
    
    padding: 3%;
    background-color: rgb(206, 206, 206);
}


#quotation-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 2%;
    width: 90%;
}
div.content.clearfix h3 {
    
    display: none;
    
}

fieldset {
    border-width: 0px;
}

/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    width: 100%;
}


.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
   
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    color: #fff;
}

.wizard > .content
{
    background: #eee;
    margin: 0.5em;
    min-height: 20em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 80%;
    padding: 2.5%;
    margin-left: 5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    border: 1px solid #ccc;
}

#lastName, #firstName, #email
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: rgb(255, 0, 0);
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: rgb(255, 0, 0);
    font-style: italic;
    font-weight: bolder;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #eee;
    color: rgb(251, 83, 83);
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: rgb(251, 83, 83);
}


/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}