/*device mobile -> 480px */
body {
    
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    padding: auto;
    
}

header, h1, a, .logo, .header-nav ul, main, .text-section, .image-section, .about-section, figcaption, .portrait, .contact-form, #cform, footer, .footer-nav ul, .social-icons, .project-section, .thumbnails, .actions, .actions ul li, .new-project, .edit-project, .edit-actions, .edit-icons, .return, .register-form, .register-form form, .login-form, .login-form form, .new-project form, .edit-project form {
    
    display: flex;
    
}

main, .portrait, .actions, .new-project, .edit-project, .edit-actions, .return, .register-form, .register-form form, .login-form, .login-form form, .new-project form, .edit-project form {
    
    flex-direction: column;
    
}

header, h1 a, .header-nav ul, .text-section, .image-section, .about-section, .contact-form , .project-section, .thumbnails, figcaption, footer, .footer-nav ul {
    
    flex-flow: column nowrap;
    
}

main, .portrait, .actions, .new-project, .edit-project, .edit-actions, .return, .register-form, .register-form form, .login-form, .login-form form, .new-project form, .edit-project form, header, h1 a, .header-nav ul, .text-section, .image-section, .about-section, .contact-form , .project-section, .thumbnails, figcaption, footer, .footer-nav ul {
    
    justify-content: center;
    
}
 
.social-icons, .actions ul li, .edit-icons {
    
    flex-flow: row nowrap;
    justify-content: space-between;
    
}

header, h1 a, .header-nav ul, .text-section, .image-section, .about-section, .contact-form , .project-section, .thumbnails, figcaption, footer, .footer-nav ul, main, .portrait, .actions, .new-project, .edit-project, .edit-actions, .return, .register-form, .register-form form, .login-form, .login-form form {
    
    align-items: center;
    
}

.new-project form, .edit-project form {
    
    align-items: stretch;
    
}

.overlay-color, .portrait:hover .portrait-overlay {
    
    position: absolute;
}

.register-form, .register-form form, .login-form, .login-form form, .new-project form, .edit-project form, .social-icons li, .online-link, .edit-actions, .image, #cform {
    
    width: 100%;
    
}

.back, .return, .text-section, .image-section, .about-section, .map, .contact-form, .thumbnails img {
    
    width: 90%;

}

.logo {
    
    width: 60%;
}

.register-form, .register-form form, .login-form, .login-form form, .new-project form, .edit-project form, .logo, .header-nav {
    
    margin: 1%;
}

.back, .return {
    
    font-style: italic;
    font-weight: bold;
    
}

.back a, .return a, .nav-active a {
    
    color: rgb(251, 83, 83);
    
}

.nav-active a {
    
    font-weight: bold;
    
}

li {
    
    list-style-type: none;
    
}

a {
    
    text-decoration: none;
    color: black;
    
}

#name {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 56px;
    color: rgb(251, 83, 83);
    letter-spacing: -3px;
    margin-bottom: 105px;
    
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    margin-bottom: 0%;
    
}

.text-section, .image-section, .about-section, .map {
    
    align-items: center;    
    height: auto;
    margin: 1%;
    margin-bottom: 3%;
    padding: 2%;
    
}

.image-section, .project-section {
    
    background-color: rgba(54, 54, 56, 0.2);
    position: relative;
    
}

figure {
    
    margin: 0px;
    border: solid 2px rgb(255, 255, 255);
    
}

.overlay-color {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
      
}

figcaption, footer, .copy-right {
    
    margin-bottom: 3%;
    
}

.more-link {
    
    margin: 1%;
    padding: 2%;
    border: solid 1px white;
     
}

.image-section:hover h2, .image-section:hover .description, .image-section:hover .more-link {
    
    color: rgb(255, 255, 255);
    z-index: 10;
    
}

.portrait img {
    
    width: 40%;
    height: auto;
    box-shadow: 10px 10px 10px rgba(251, 83, 83, 0.8);
}

.about-section, .contact-form {
    
    background-color: rgba(251, 83, 83, 0.8);
    
}

.author-description {
    
    border: 2px solid rgb(255, 255, 255);
    padding: 2%;
    text-align: justify;
    
}

.tabulation {
    
    margin-left: 25px;
}

.author-description p, .quote, #form-title, .button {
    
    color: rgb(255, 255, 255);
}

.quote {
    
    margin: 8% 0%;
    text-align: right;
    font-style: italic;
    
}

.button, #send-button {
    
    border: solid 2px rgb(255, 255, 255);
    background-color: rgba(251, 83, 83, 0.8);
    padding: 3%;
    
    
}
.button {
    
    margin: 3%;
    margin-top: 15%;
    align-self: center; 
    
}

.button a, #send-button {
    
    color: rgb(255, 255, 255); 
    font-weight: 800;
}

.button:hover, #send-button:hover {
    
    border: solid 2px rgba(251, 83, 83, 0.8);
    color: rgba(251, 83, 83, 0.8);
    background-color: rgb(255, 255, 255);
    
}

.button:hover a, #send-button:hover {
    
    color: rgba(251, 83, 83, 0.8);
    font-weight: 800;
}

.button:active {
    
    border: solid 2px rgba(255, 255, 255, 0);
}

.map {
    
    border: solid 1px black;
    
}

.contact-form {
    
    height: auto;
    align-items: center;
}

#cform {
    
    padding: 5%;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
  
}

#input-name, #input-email, #input-comments, #send-button {
    
    margin: 4%;
}

#send-button {
    
    width: 25%;
    align-self: flex-end;
}

.social-icons li, .online-link, .edit-actions {
   
    margin: 5%;
}

.social-icons li a:hover, .online-link, .online-link a {
    
    color: rgba(251, 83, 83, 0.8); 
}

.online-link, .online-link a {
    
    padding: 5%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

.project-section {
    
    width: 95%;
    height: auto;
    align-items: center;    
    margin: 2%;
    padding: 2%;
    
}
.thumbnails img {
    
    margin: 5%;
    box-shadow: 5px 5px 5px black;
    align-self: center;
}


.skills {
    
    font-weight: bolder;

}

.register-form h2, .login-form h2, .new-project h2, .edit-project h2 {
    
    margin-bottom: 3%;
    color: rgb(251, 83, 83); 
    font-weight: bold;
}

figcaption, footer, .copy-right, h2, .back, .edit-actions p, .online-link, .online-link a, #cform  {
    
    text-align: center;
}

.spacer {
    
    height: 30px;
}